<h2>Fith Component</h2>

<div [style.background-color]="bgColor" class="box"></div>

<hr>

<!-- <button (click)="changeColor('red')" class="bnt btn-success">Red</button>
<button (click)="changeColor('blue')" class="bnt btn-success">Blue</button>
<button (click)="changeColor('yellow')" class="bnt btn-success">Yellow</button>
<button (click)="changeColor('green')" class="bnt btn-success">Green</button>
<button (click)="changeColor('orange')" class="bnt btn-success">Orange</button>
<button (click)="changeColor('brown')" class="bnt btn-success">Brown</button> -->


<button (click)="bgColor = 'red'" class="bnt btn-success">Red</button>
<button (click)="bgColor = 'blue'" class="bnt btn-success">Blue</button>
<button (click)="bgColor = 'yellow'" class="bnt btn-success">Yellow</button>
<button (click)="bgColor = 'green'" class="bnt btn-success">Green</button>
<button (click)="bgColor = 'orange'" class="bnt btn-success">Orange</button>
<button (click)="bgColor = 'brown'" class="bnt btn-success">Brown</button>