<h2>Eighth Component</h2>

<table class="table table-striped table-hover table-bordered">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Email</th>
      <th>Address</th>
      <th style="width: 150px;">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{user.id}}</td>
      <td>{{user.name}}</td>
      <td>{{user.email}}</td>
      <td>{{user.address}}</td>
      <td>
        <button (click)="onEdit(user)" class="btn btn-warning btn-sm">Edit</button>
        <button (click)="onDelete(user)" class="btn btn-danger btn-sm" style="margin-left: 10px;">Delete</button>
      </td>
    </tr>
  </tbody>
</table>