<h2>Second Component</h2>

<div><strong>color: </strong>{{color}}</div>
<div [style.color]="color"><strong>color: </strong>{{color}}</div>

<div [style.background-color]="color" class="box"></div>
<div [style.background-color]="color" class="box"></div>
<div [style.background-color]="color" class="box"></div>
<div [style.background-color]="color" class="box"></div>
<div [style.background-color]="color" class="box"></div>
<div [style.background-color]="color" class="box"></div>
<div [style.background-color]="color" class="box"></div>
<div [style.background-color]="color" class="box"></div>
<div [style.background-color]="color" class="box"></div>
<div [style.background-color]="color" class="box"></div>
<div [style.background-color]="color" class="box"></div>
<div [style.background-color]="color" class="box"></div>
<div [style.background-color]="color" class="box"></div>
<div [style.background-color]="color" class="box"></div>
<div [style.background-color]="color" class="box"></div>
<div [style.background-color]="color" class="box"></div>
<div [style.background-color]="color" class="box"></div>