<h2>First Component</h2>

<h4>List of properties</h4>
<div><strong>name: </strong>{{personName}}</div>
<div><strong>address: </strong>{{personAddress}}</div>
<div><strong>age: </strong>{{personAge}}</div>
<div><strong>phone number: </strong>{{personPhone}}</div>

<hr>

<h4>Object</h4>
<div><strong>name: </strong>{{person.name}}</div>
<div><strong>address: </strong>{{person.address}}</div>
<div><strong>age: </strong>{{person.age}}</div>
<div><strong>phone number: </strong>{{person.phone}}</div>
<div><strong>email address: </strong>{{person['email']}}</div>
